@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://learn.microsoft.com/aspnet/core">اهلا بكم في نظام ادارة المجلات العلمية لكلية الهندسة الكهروميكانيكية - الجامعة التكنولوجية</a>.</p>
</div>
